.status-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.dropdown-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  padding: 3px;
  gap: 3px;

  width: 101px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  visibility: hidden;
}

.dropdown-options.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-option {
  background-color: bisque;
  cursor: pointer;
}

.icon {
  transition: 0.3s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
}
