.user-info-sidebar {
    width: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
  }
  
.logout-button, .logout-button:hover {
  background-color: transparent;
}

  .username {
    font-size: 1em;
    font-weight: bold;
  }