.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Styles used in all child components */
.icon-btn {
  cursor: pointer;
  background-color: bisque;
  width: 22px;
  height: 22px;
  padding: 2px;
}

.icon-big {
  width: 30px;
  height: 30px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center-flexbox {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
  opacity: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: pink;
}
