.active-chat-header {
  border-bottom: 1px solid gainsboro;
  min-height: 61px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  background-color: rgba(0, 128, 0, 0.682);
}

.active-chat-status {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.active-chat-status h2 {
  font-size: 16px;
}

.active-chat-status span {
  font-size: 12px;
}

.friends-btn {
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: greenyellow;
}
