.friends-header {
  border-bottom: 1px solid gainsboro;
  height: 61px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  background-color: rgba(0, 128, 0, 0.682);
}

.friends-btn {
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pending-btn {
  position: relative;
}
