.avatar-container {
  width: 40px;
  height: 40px;
  display: flex;
}

.avatar-status {
  position: relative;
  z-index: 1;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Status styles */
.status-icon {
  border: 1px solid gainsboro;
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 2px;
  right: 2px;
  border-radius: 20px;
}

.online {
  background-color: green;
}
.away {
  background-color: orange;
}
.busy {
  background-color: red;
}
.offline {
  background-color: grey;
}
/* Chat avatar specific styles */

.chat-image-container {
  width: 30px;
  height: 30px;
}

/* Team avatar specific styles */

.team-container {
  cursor: pointer;
}

.team-container:hover {
  transition: 0.3s;
  transform: scale(1.15);
}

.team-image {
  background-color: greenyellow;
}

.team-image:hover {
  border-radius: 10px;
  transition: 0.3s;
  transform: scale(1.1);
}
