.register-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 20px;
  margin-top: -40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.fields-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* gap: 20px; */
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  /* gap: 5px; */
}

.register-form h2 {
  /* padding-bottom: 10px; */
}

.additional-links {
  display: flex;
  width: 100%;
  align-items: start;
  flex-direction: column;
}

/* Form Input Fields */
.register-input {
  width: 220px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Forgot Password Link */
.redirection-link {
  font-size: 14px;
}

.redirection-link a {
  text-decoration: none;
  color: #007bff;
}

.redirection-link a:hover {
  text-decoration: underline;
}

.submit-register-btn {
  margin-bottom: 20px;
}

/* picture container */
.picture-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.picture-container label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.picture-container input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.picture-container .custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #15bf20;
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
