.pending-request {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: greenyellow;
}

.pending-request-details {
}

.pending-request-btns {
  min-width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
}
