.chats-bar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background-color: aqua;
}

.chats-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
  background-color: brown;
  padding: 10px;
  height: 100%;
}
