.sidebar {
    width:80px;
    /* overflow-x: hidden; */
    /* overflow: scroll; */
}
.add-channel {
    background-color: transparent;
}

.submit-input {
    margin-top:20px;
}

.team-list p {
    white-space: nowrap;
    overflow: hidden;            
    text-overflow: ellipsis;                   
    display: block; 
}