.teams-bar {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.add-channel {
  background-color: transparent;
}

.submit-input {
  margin-top: 20px;
}

.teams-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.teams-list p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
