.pending-friend-requests-bubble {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  top: -6px;
  left: -6px;
  font-size: 12px;
  background-color: red;
}
