.message-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.first-message {
  display: flex;
  gap: 10px;
  border: 1px solid black;
}

.message-right {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.message-header {
  display: flex;
  gap: 10px;
}

.message-content {
  width: 100%;
}

.subsequent-messages {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.subsequent-message {
  display: flex;
  gap: 10px;
}
.subsequent-timestamp {
  width: 40px;
}
